body{
    background-color: #faf4f4;
}

header{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.container_header{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding-bottom: 30px;
}

.icono_header{
    justify-content: center;
    padding-right: 10px;
    padding-top: 5px;

}

.form-control me-2{
padding-right: 20px;
align-self: center;
justify-self: center;
width: 60px;
}


.carrito{
    padding-top:  7px;
    justify-content: center;
    height: auto;
}

.nav_Botonera_principal{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

.nav_Home{
    padding-right: 20px;
}

.nav_Maquillaje{
    padding-right: 20px;
}

.nav_Perfumes{
    padding-right: 20px;
}

.nav_Cuerpo{
    padding-right: 20px;
}

.nav_Hogar{
    padding-right: 20px;
}

.nav_Moda{
    padding-right: 20px;
}

.nav_Oferta{
    padding-right: 20px;
}

.nav_Outlet{
    padding-right: 20px;
}

.Titulo{
    font-family: 'Dancing Script', cursive;
    justify-content: center;
}

.envio{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    justify-content: center;
}





/** Sacar puntos de la lista de iconos del footergit  */
ul{
    list-style: none;
}